---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/subscriptions?maxResults=50&mine=true&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci8yA8bQ_tTm5XklQY9MO0p2vrg_qNz2U9NTQJWmHKBC_BREqijz1ydu5tW6Obp02g
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"I_8xdZu766_FSaexEaDXTIfEWc0/YcmaKfjVgu3T3VYVm9W_pQSbi3Y"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#subscriptionListResponse",
         "etag": "\"I_8xdZu766_FSaexEaDXTIfEWc0/YcmaKfjVgu3T3VYVm9W_pQSbi3Y\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#subscription",
           "etag": "\"I_8xdZu766_FSaexEaDXTIfEWc0/vPRyBEzVIXsBcHTfREagZBfb_iE\"",
           "id": "Xjmg71fUSCMJ8t35R6lzYxeUpo16D6bzxP8CQpbECC4",
           "snippet": {
            "publishedAt": "2015-09-23T17:51:18.000Z",
            "title": "CTNtechnologynews",
            "description": "Hey, everyone!  My name's Jonathan, and this channel is where I upload high quality tech & game reviews, rumor videos about upcoming products, and breaking news.  I upload regularly, so If you like what you see here, please be sure to subscribe!",
            "resourceId": {
             "kind": "youtube#channel",
             "channelId": "UCFmHIftfI9HRaDP_5ezojyw"
            },
            "channelId": "UCU5edms2XTD4yb02-WHboLg",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-guT90qZVtdo/AAAAAAAAAAI/AAAAAAAAAAA/a6PuyvcrDQ4/s88-c-k-no-rj-c0xffffff/photo.jpg"
             },
             "medium": {
              "url": "https://yt3.ggpht.com/-guT90qZVtdo/AAAAAAAAAAI/AAAAAAAAAAA/a6PuyvcrDQ4/s240-c-k-no-rj-c0xffffff/photo.jpg"
             },
             "high": {
              "url": "https://yt3.ggpht.com/-guT90qZVtdo/AAAAAAAAAAI/AAAAAAAAAAA/a6PuyvcrDQ4/s240-c-k-no-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Mon, 01 Aug 2016 21:11:51 GMT
recorded_with: VCR 3.0.3
